@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-after::after{
    position: fixed;
    content: "";
    top: 50%;
    right: -0.5px;
    width: 1px;
    height: 75%;
    transform: translateY(-50%);
    background: #ff0000;
}

@media (max-width: 1024px) {
    .subMenu{
        position: fixed;
        top: 0;
        right: 0;
        left: 60%;
        bottom: 0;
        background-color: #ffffff;
        z-index: 9999;
        animation: showMenu ease .6s;
        transition-delay: .6s;
    }

    .subMenu li{
        padding: 15px;
    }

    .subMenu li:nth-child(1){
        border-bottom: 1px solid #E2E8F0;
        padding-top: 20px;
        margin-bottom: 15px;
    }
}

@media (max-width: 640px) {
    .subMenu{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #ffffff;
        z-index: 9999;
        animation: showMenu ease .6s;
        transition-delay: .6s;
    }
}

@keyframes showMenu {
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
