@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-after::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -0.5px;
  width: 1px;
  height: 75%;
  transform: translateY(-50%);
  background: #ff0000;
}

@media (max-width: 1024px) {
  .subMenu {
    position: absolute;
    top: 0;
    right: 0;
    left: 60%;
    bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    animation: showMenu ease 0.6s;
    transition-delay: 0.6s;
  }

  .subMenu li {
    padding: 15px;
  }

  .subMenu li:nth-child(1) {
    border-bottom: 1px solid #e2e8f0;
    padding-top: 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .subMenu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    animation: showMenu ease 0.6s;
    transition-delay: 0.6s;
  }
}

@keyframes showMenu {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
#main {
  font-family: "Roboto", sans-serif;
}
.desc {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.course-item {
  box-shadow: #e6e2e2 0px 6px 9px 2px;
}
.btn_slick:hover {
  color: #447ec5;
  cursor: pointer;
  text-shadow: 0px 0px 3px #447ec5;
}
.pagings .active {
  color: #447ec5;
}
