.containerLoading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    background: #ffffff ;
}
.loading {
    display: flex;
    position: relative;
    width: 2em;
    height: 2em;
    border: 3px solid #1273eb;
    overflow: hidden;
    animation: spin 3s ease infinite;
  }
  
  .loading::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 2em;
    height: 2em;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-to: #0051b5;
    --tw-gradient-from: #5998e6;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(18, 115, 235, 0));
    transform-origin: center bottom;
    transform: scaleY(1);
    animation: fill 3s linear infinite;
  }
  
  @keyframes spin {
    50%,
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fill {
    25%,
    50% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
  